.Landing {
     margin-left: auto; margin-right: auto;
     width:960px;
}

body {
    background: url() repeat-y;
    background-image:url(../Asset/Background1.jpg);
    background-size:100%;
    
}

